
.icon img{

    width: 15vw;
    height: 5vh;
}
@media only screen and (max-width: 768px) {

    .icon img{
        width: 15vw;
        height: 4vh;
    }

    .navbar-expand-md navbar-toggler {
        display: none;
    }
}

@media only screen and (max-width: 600px){

    .icon img{
        width: 18vw;
        height: 4vh;
    }

    .navbar-expand-md navbar-toggler {
        display: none;
    }

}