.sidebar-doc {
    /* height: 100vh; */
}



.sidebar-doc .profile {
    border-bottom: 2px solid #EEE;
}

.sidebar-doc .profile img {
    
    width: 100px;
    height: 100px;
    margin-top: 30px;
}



.sidebar-nav{
    margin-top: 30px;
}

.sidebar-doc ul{
    list-style: none;
}
.sidebar-doc li .nav-link {

    color: #000;
    padding: 5px;

}
.sidebar-doc li .nav-link:hover, .sidebar-doc li .nav-link.active{
    background-color: #EE6F1B;
    color: white;

}