.sidebar-patient{
    /* height: 100vh; */
}

.sidebar-patient .profile {
    border-bottom: 2px solid #eee;
}
.sidebar-patient .profile img {
    width: 100px;
    height: 100px;
}
.sidebar-nav{
    margin-top: 10px;
}

.sidebar-patient ul{
    list-style: none;
}
.sidebar-patient li .nav-link {

    color: #000;
    padding: 5px;

}
.sidebar-patient li .nav-link:hover, .sidebar-patient li .nav-link.active{
    background-color: #EE6F1B;
    color: white;

}